body {
       background: #000000 top left;
       font-size: 15px;
       font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
       color:#564b47;
       padding:5px;
       margin:5px;
       text-align:justify;
}
a {color: #DB7093;}
a:visited {color:#c43300;}
a:hover {color: #c43300;}
a:active { color:#000000;}

h1 {
    font-size: 20px;
    text-transform:uppercase;

	    margin:0px }

h2 {
    color: #9A1212;
    font-size:20px;
    font-weight: normal;
    padding: 20px 0px 5px 0px;
    margin:0px;
}
large {
    color: #564b47;
    font-size:16px;
    font-weight: normal;
    margin:0px;
}
img {
    border:#993233 solid 3px;
}
img.download {vertical-align:middle;}

/* ----------container to center the layout-------------- */
#container {
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    height:100%;
    background: #E8E8E8 no-repeat bottom left;
    border:1px solid #8D8D8D;
}


#banner {
    left: 230px;
    height:114px;
    text-align: center;
    background:  url('header2.jpg') bottom center;
    background-size: 100%;
    background-color: #e1ddd9;

    padding: 0px;
    margin: 0px;
}
#banner img {padding:10px 0px;} 
#bannertitle{padding-top:50px;font-size:3em;font-weight:bold;
	     color:#FFFFFF;
	    }

u {
    text-decoration:none;
}

#content {	
	top:114px;	
    background:#ffffff ;
    padding: 10px 20px 10px 10px;
    margin-left: 230px;
    margin-right: 0px;
}
div#content { 
    min-height:600px;
}

#content a {
    font-size: 14px;
    display: inline;
    font: Verdana, Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
    text-align: left;
    padding: 0px;
    margin: 0px;
    width: 140px;
    height: 32px;
}

p, pre{
    padding: 5px 10px;
    margin:0px;
}

#left {
    position: fixed;
    float: left;
    width: 230px;
    margin: 0px;
    padding: 0px;
    background:#E8E8E8;
    height:90%;
}

#footer {
    clear: both;
    position: relative;
    margin-top: -20px;
    height: 20px;

    margin-left: 230px;
    text-align: center; 
    
    color:#333333;
}
#footer h1{
    padding:5px 5px 0px 0px;
}

.verticalmenu ul{
    list-style:none;
    padding: 10px;
    margin: 0px;
}

.verticalmenu li, a:link, .verticalmenu a:visited, .verticalmenu a:hover {
    font-size: 11px;
    display: block;
    font: bold 1.1em Verdana, Arial, Helvetica, sans-serif;
    color: #9A1212;
    text-decoration: none;
    text-align: left;
    padding:5px;

}

.submenu {
font-size: 10px;
    display: block;
    font: Verdana, Arial, Helvetica, sans-serif;
    color: #9A1212;
    text-decoration: none;
    text-align: left;
    padding:10px;
}

.verticalmenu a:hover{
    color: #DDDDDD;
    background-color: #993233;
}

.scroll-to-top {
display: none;
position: fixed; bottom: 30px; right: 50px;
width: 80px;
height: 50px;
font: bold 0.9em/1.2em Arial, Helvetica, sans-serif; color: #bbb; text-transform: uppercase; text-decoration: none;
background-color:none;
border-radius: 5px;
text-align:center;
}
